<body>
    <h1>Add Heads Of State</h1>

    <ul>
        <li>Country Code must be 3 characters</li>
        <li>Head Of State must be at least 3 characters</li>
    </ul>

    <form action="/addHeadsOfState" method="POST">
        <label>Add Country Code:</label>
        <input required type="text" name="_id"><br>

        <label>Add Head Of State</label>
        <input required type="text" name="headOfState"><br>

        <input type="submit" value="Add">
    </form>
</body>

<button type="button">
    <a href="http://localhost:3000/">
        HOME
    </a>
</button>