<body>
    <h1>Delete Country</h1>
    <form action="/deleteCountry" method="POST">
        <label>Country Code:</label>
        <input type="text" name="countryCode"><br>
        <input type="submit" value="Delete">
    </form>
</body>

<button type="button">
    <a href="http://localhost:3000/">
        HOME
    </a>
</button>