<body>
    <h1>Delete Heads Of State</h1>

    <form action="/deleteHeadsOfState" method="POST">
        <label>Delete Using Country Code:</label>
        <input type="text" name="_id"><br>

        <input type="submit" value="Delete">
    </form>
</body>

<button type="button">
    <a href="http://localhost:3000/">
        HOME
    </a>
</button>