<html>

<style>
    body {
        background-image: url("https://www.countryreports.org/uGraphics/tempImages/selectBack.jpg");
        background-repeat: no-repeat;
        background-size: cover;

    }

    button {
        background-color: #ffffff;
        font-size: 16px;
        border: 2px solid #000000; 
    }
    h1{
        background-color: #ffffff;
        border: 2px solid #000000; 
    }

   
</style>

<body>
    <div style="text-align: center;">

    <h1>Home Page</h1>

    <button>
        <p><a href="http://localhost:3000/country">List Countries</a></p>
    </button>

    <button>
        <p><a href="http://localhost:3000/city">List Cities</a></p>
    </button>

    <button>
        <p><a href="http://localhost:3000/headsOfState">List Heads Of State</a></p>
    </button>

    </div>

</body>

</html>