<body>
    <h1>Update Country</h1>
    <form action="/updateCountry" method="POST">

        <label>Country Code:</label>
        <input type="text" name="countryCode"><br>

        <label>Country Name</label>
        <input required type="text" name="countryName"><br>

        <label>Country Details</label>
        <input type="text" name="countryDetails"><br>
        
        <input type="submit" value="Update">

    </form>
</body>

<button type="button">
    <a href="http://localhost:3000/">
        HOME
    </a>
</button>